{% extends "bootstrap/base.html" %}

{% block title %}
IntelliBroad
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
{% endblock %}

{% block body %}

	{% block navbar %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  	</button>
				  	<a class="navbar-brand" href="/">IntelliBroad</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav">
						<li><a href="/">Search</a></li>
						<li class='active'><a href="/about">About</a></li>
				  	</ul>
				</div>
			  </div>
		</nav>
	{% endblock %}

	{% block content %}
	<div class='row'>
		<div class='container well'>
			<p>
				Created by Andrew Lee, summer intern in the Cancer Program DataSci Team.
			</p>
		</div>
	</div>
	{% endblock %}

{% endblock %}