<!DOCTYPE html>
<title>IntelliBroad</title>
<style type="text/css">
	html * {
		font-family: sans-serif;
	}

	table {
		border-collapse: collapse;
	}

	th {
		border: 2px solid black;
		padding: 4px;
	}

	td {
		border: 2px solid black;
		padding: 4px;
	}
</style>
<script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>


{% macro renderPersonList(data) -%}
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>

		{% for row in data %}
			<tr>
				<td><a href="/item?itemType=person&id={{ row['employee_id'] }}">{{ row['name'] }}</a></td>
				<td>
					<a href="mailto:{{ row['employee_id'] }}">
						{{ row['employee_id'] }}
					</a>
				</td>
			</tr>
		{% endfor %}

	</table>
{%- endmacro %}

{% macro renderMeetingList(data) -%}
	<table>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th>Location</th>
			<th>Open in Google Calendar</th>
		</tr>

		{% for row in data %}
			<tr>
				<td><a href="/item?itemType=meeting&id={{ row['event_id'] }}">{{ row['name'] }}</a></td>
				<td>{{ row['start_time'] }}</td>
				<td>{{ row['location'] }}</td>
				<td><a href="{{ row['htmlLink'] }}" target="_blank">Link</a></td>
			</tr>
		{% endfor %}

	</table>
{%- endmacro %}

<div class="page">
	<h1>IntelliBroad</h1>
	<form id='searchForm' action='{{ url_for("parse_request") }}' method='get'>
		<dl>
			<dt>
				<dd></dd>
				<dd>
					<input type="radio" name="searchOption" value="person" 
					{% if request.args['searchOption'] == 'person' %}
						checked
					{% endif %}>Find a person
					<input type="radio" name="searchOption" value="meeting"
					{% if request.args['searchOption'] == 'meeting' %}
						checked
					{% endif %}>Find a meeting
					<input type="radio" name="searchOption" value="topic"
					{% if request.args['searchOption'] == 'topic' %}
						checked
					{% endif %}>Search for experts/meetings on a topic

				</dd>
				<dd><input type="text" 
					{% if request.args %}
						value = "{{ request.args['search'] }}"
					{% endif %}
				name="search"><input type="submit" name="button" value="Search"></dd>
			</dt>
		</dl>
	</form>
	{% block body %}{% endblock %}

</div>