{% extends "bootstrap/base.html" %}

{% macro renderPersonList(data) -%}
	<div class='table-responsive'>
		<table class='table table-hover table-condensed'>
			<tr>
				<th>Name</th>

				{% if 'count(*)' in data[0] %}
					<th>Similarity Score</th>
				{% endif %}

				<th>Email</th>
			</tr>

			{% for row in data %}
				<tr>
					<td><a href="/item?itemType=person&id={{ row['employee_id'] }}">{{ row['name'] }}</a></td>

					{% if 'count(*)' in row %}
						<td>
							{{ row['count(*)'] }}
						</td>
					{% endif %}

					<td>
						<a href="mailto:{{ row['employee_id'] }}">
							{{ row['employee_id'] }}
						</a>
					</td>

				</tr>
			{% endfor %}

		</table>
	</div>	
{%- endmacro %}

{% macro renderMeetingList(data) -%}
	<div class='table-responsive'>
		<table class='table table-hover table-condensed'>
			<tr>
				<th>Name</th>
				<th>Time</th>
				<th>Location</th>

				{% if 'jaccard_score' in data[0] %}
					<th>Similarity Score</th>
				{% endif %}

				<th>Open in Google Calendar</th>
			</tr>

			{% for row in data %}
				<tr>
					<td><a href="/item?itemType=meeting&id={{ row['event_id'] }}">{{ row['name'] }}</a></td>
					<td>{{ row['start_time'] }}</td>
					<td>{{ row['location'] }}</td>

					{% if 'jaccard_score' in row %}
						<td>{{ row['jaccard_score'] }}</td>
					{% endif %}

					<td><a href="{{ row['htmlLink'] }}" target="_blank">Link</a></td>
				</tr>
			{% endfor %}

		</table>
	</div>
{%- endmacro %}



{% block title %}
IntelliBroad
{% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
{% endblock %}



{% block body %}

	{% block scripts %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	{% endblock %}

	{% block navbar %}
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  	</button>
				  	<a class="navbar-brand" href="/">IntelliBroad</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
				  	<ul class="nav navbar-nav">
						<li class="active"><a href="/">Search</a></li>
				  	</ul>
				</div>
			  </div>
		</nav>
	{% endblock %}

	{% block content %}
		<div class='container theme-showcase' role='main'>
			{% block searchbar %}
				<div class='row'>
					<div class='jumbotron'>
						<form action='{{ url_for("parse_request") }}' method='get'>
							<div class='form-group'>
								<input type='text' class='form-control' id='Search' name='search' placeholder="Search..."
								{% if request.args %}
									value = "{{ request.args['search'] }}"
								{% endif %}
								>
							</div>
							<div class='form-group'>
								<input type="radio" name="searchOption" value="person" id='radioPerson' checked
								{% if request.args['searchOption'] == 'person' %}
									checked
								{% endif %}>
								<label for='radioPerson'>Find a person</label>

								<input type="radio" name="searchOption" value="meeting" id='radioMeeting'
								{% if request.args['searchOption'] == 'meeting' %}
									checked
								{% endif %}>
								<label for='radioMeeting'>Find a meeting</label>

								<input type="radio" name="searchOption" value="topic" id='radioTopic'
								{% if request.args['searchOption'] == 'topic' %}
									checked
								{% endif %}>
								<label for='radioTopic'>Search a topic area</label>
							</div>
						</form>	
					</div>
				</div>
			{% endblock %}
			{% block page_data %}
			{% endblock %}
		</div>

	{% endblock %}

{% endblock %}