{% extends 'layout_bs.html' %}
{% block page_data %}
	<div class='row'>
		<h2 class='employeeName'>{{ response['info']['name'] }}</h2>
		<h4 class='emailAddress'>
			<a href="mailto:{{ response['info']['employee_id'] }}">
				{{ response['info']['employee_id'] }}
			</a>
		</h4>
	</div>
	<div class='row'>
		<div class='col-md-7'>
			<h2>Meetings for this person in the recent past and near future</h2>
			{{ renderMeetingList(response['nearbyMeetings']) }}
		</div>
		<div class='col-md-5'>
			<h2>People with similar subject knowledge</h2>
			{{ renderPersonList(response['similarPeople']) }}
		</div>
	</div>
{% endblock page_data %}