{% extends 'layout_bs.html' %}
{% block page_data %}
<div class='row'>
	{% if response %}
	<h3>Related meetings occurring in the recent past and near future</h3>
	<div class='col-md-8'>
		{% if response['meetingList'] %}
			{{ renderMeetingList(response['meetingList']) }}
		{% endif %}
	</div>

	<h3>People with expertise in the topic</h3>
	<div class='col-md-4'>
		{% if response['personList'] %}
			{{ renderPersonList(response['personList']) }}
		{% endif %}
	</div>


		
	{% endif %}
</div>
	
{% endblock page_data %}