{% extends 'layout_bs.html' %}
{% block page_data %}
<div class='row'>
	{% if response %}
	<div class='col-md-7'>
		<h3>Meetings whose title includes this topic occurring in the recent past and near future</h3>
		{% if response['meetingList'] %}
			{{ renderMeetingList(response['meetingList']) }}
		{% endif %}
	</div>

	<div class='col-md-5'>
		<h3>People who have attended meetings whose title or description includes this topic</h3>
		{% if response['personList'] %}
			{{ renderPersonList(response['personList'], "# of meetings attended") }}
		{% endif %}
	</div>


		
	{% endif %}
</div>
	
{% endblock page_data %}